$main-color: #66c8ba;
$cell-background-light: rgba(255,255,255,0.4);
$cell-background-dark: rgba(0,0,0,0.5);
$green: #68c07a;
$red: #eb5174;
$yellow: #eedea0;

*{
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-weight: normal;
}

body{
  background-color: $main-color;
  margin: 0;
}

header{
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
  margin-bottom: 40px;
}

h1{
  color: rgba(0,0,0,0.3);
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#main-container{
  width: 780px;
  margin: 0 auto;
}

#board-container{
  width: 450px;
  height: 450px;
  box-sizing: content-box;
  margin: 0 auto;
  display: inline-block;
  .row:nth-of-type(3), .row:nth-of-type(6){
    .cell{
      border-bottom: 3px solid $main-color;
    }
  }
}

.row{
  width: 100%;
  height: 50px;
  .cell:nth-of-type(3), .cell:nth-of-type(6){
    border-right: 3px solid $main-color;
  }
  &:nth-of-type(n+1):nth-of-type(-n+3), &:nth-of-type(n+7):nth-of-type(-n+9){
    .cell:nth-of-type(n+4):nth-of-type(-n+6){
      background-color: $cell-background-dark;
      &:hover{
        background-color: lighten($cell-background-dark, 20%);
      }
    }
  }
  &:nth-of-type(n+4):nth-of-type(-n+6){
    .cell:nth-of-type(n+1):nth-of-type(-n+3), .cell:nth-of-type(n+7):nth-of-type(-n+9){
      background-color: $cell-background-dark;
      &:hover{
        background-color: lighten($cell-background-dark, 20%);
      }
    }
  }
}

.cell{
  position: relative;
  border: 1px solid $main-color;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  background-color: $cell-background-light;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  &:hover{
    background-color: darken($cell-background-light, 20%);
  }
  &.revealed{
    color: #FFF;
  }
  &.guessed{
    color: $main-color;
  }
  &.highlighted{
    background-color: $green !important;
    &:hover{
      background-color: lighten($green, 10%) !important;
    }
    &.guessed{
      color: darken($main-color, 30%);
    }
  }
  &.incorrect{
    background-color: $yellow !important;
    &:hover{
      background-color: lighten($yellow, 10%) !important;
    }
  }
  &.conflict{
    background-color: $red !important;
    &:hover{
      background-color: lighten($red, 10%) !important;
    }
    &.guessed{
      color: darken($main-color, 30%);
    }
  }
}

.notes{
  font-size: 16px;
  line-height: 16px;
  color: #888;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1px;
  z-index: 10;
  &.forward{
    z-index: 30;
  }
}

.cell-inner{
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

#button-container{
  margin: -5px 0 0 25px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  button{
    position: relative;
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: darken($main-color, 30%);
    color: #FFF;
    border: 5px solid transparent;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Muli", sans-serif;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    &::-moz-focus-inner {
      border: 0;
    }
    &.selected{
      border: 5px solid lighten($green, 15%);
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      background-color: lighten($main-color, 10%);
      &:hover, &:active{
        background-color: darken($main-color, 10%);
      }
      &#conflict-button{
        border: 5px solid lighten($red, 15%);
      }
      &#answer-button{
        border: 5px solid $yellow;
      }
      &#delete-button{
        border: 5px solid #FFF;
      }
    }
    &:focus{
      outline: none;
    }
    &:hover, &:active{
      background-color: darken($main-color, 40%);
    }
    &#notes-button{
      width: 290px;
      height: 50px;
      &.selected{
        border: 5px solid #FFF;
      }
    }
  }
}

#win{
  width: 100%;
  position: fixed;
  top: 40%;
  z-index: 1000;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  display: none;
  form{
    width: 150px;
    margin: 0 auto;
    input{
      padding: 10px;
      background-color: transparent;
      border: 2px solid rgba(0,0,0,0.3);
      color: rgba(0,0,0,0.3);
      font-size: 24px;
    }
  }
}

@media (max-width: 780px) {
  #main-container{
    display: block;
    width: 100%
  }
  #board-container, #button-container{
    display: block;
    margin: 0 auto;
  }

  #button-container{
    margin: 10px auto 0;
    width: 400px;
    &:after{
      content: "";
      clear: both;
    }  
    .button-row{
      position: relative;
      float: left;
    }
    button#notes-button{
      width: 390px;
    }
  }

  #special-buttons{
    position: relative;
    float: right;
    margin-top: -200px;
    height: 300px;
    width: 100px;
  }
}

@media (max-width: 449px){
  header{
    padding: 10px;
    margin-bottom: 5px; 
  }

  h1{
    font-size: 24px;
  }
  #board-container{
    width: 315px;
    height: 315px;
  }

  .row{
    height: 35px;
  }

  .cell{
    font-size: 24px;
    height: 35px;
    width: 35px;
  }

  .cell-inner{
    padding-top: 2px;
  }

  .notes{
    font-size: 10px;
    line-height: 10px;
  }

  #button-container{
    width: 192px;
    height: 192px;
    button{
      margin: 2px;
      width: 44px;
      height: 44px;
    }
    button#notes-button{
      width: 188px;
      height: 40px;
    }
  }

  #special-buttons{
    margin-top: -96px;
    height: 192px;
    width: 48px;
  }
}