* {
  box-sizing: border-box; }

body {
  background-color: #444;
  margin: 0; }

header {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-bottom: 40px; }

h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0; }

#board-container {
  width: 450px;
  height: 450px;
  box-sizing: content-box;
  border: 3px solid #FFF;
  border-radius: 4px;
  margin: 0 auto; }
  #board-container .row:nth-of-type(3) .cell, #board-container .row:nth-of-type(6) .cell {
    border-bottom: 3px solid #FFF; }

.row {
  width: 450px;
  height: 50px; }
  .row .cell:nth-of-type(3), .row .cell:nth-of-type(6) {
    border-right: 3px solid #FFF; }
  .row:nth-of-type(n+1):nth-of-type(-n+3) .cell:nth-of-type(n+4):nth-of-type(-n+6) input, .row:nth-of-type(n+7):nth-of-type(-n+9) .cell:nth-of-type(n+4):nth-of-type(-n+6) input {
    background-color: #333; }
  .row:nth-of-type(n+4):nth-of-type(-n+6) .cell:nth-of-type(n+1):nth-of-type(-n+3) input, .row:nth-of-type(n+4):nth-of-type(-n+6) .cell:nth-of-type(n+7):nth-of-type(-n+9) input {
    background-color: #333; }

.cell {
  border: 1px solid #CCC;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden; }
  .cell.revealed input {
    color: #FFF; }
  .cell.guessed input {
    color: #6FACDE; }
    .cell.guessed input:focus {
      background-color: #B9EDBC !important; }
  .cell input {
    margin: 0 auto;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    height: 50px;
    width: 50px;
    border: none;
    background-color: #777;
    transition: 0.3s all ease-in-out; }
    .cell input:focus {
      background-color: #9BD5F2 !important; }
