*{
  box-sizing: border-box;
}

body{
  background-color: #444;
  margin: 0;
}

header{
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
  margin-bottom: 40px;
}

h1{
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

#board-container{
  width: 360px;
  height: 360px;
  box-sizing: content-box;
  // border: 3px solid #FFF;
  // border-radius: 4px;
  margin: 0 auto;
  .row:nth-of-type(3), .row:nth-of-type(6){
    .cell{
      border-bottom: 3px solid #444;
    }
  }
}

.row{
  width: 360px;
  height: 40px;
  .cell:nth-of-type(3), .cell:nth-of-type(6){
    border-right: 3px solid #444;
  }
  &:nth-of-type(n+1):nth-of-type(-n+3), &:nth-of-type(n+7):nth-of-type(-n+9){
    .cell:nth-of-type(n+4):nth-of-type(-n+6){
      background-color: #333;
    }
  }
  &:nth-of-type(n+4):nth-of-type(-n+6){
    .cell:nth-of-type(n+1):nth-of-type(-n+3), .cell:nth-of-type(n+7):nth-of-type(-n+9){
      background-color: #333;
    }
  }
}

.cell{
  border: 1px solid #444;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  font-family: "Muli", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-top: 8px;
  height: 40px;
  width: 40px;
  background-color: #888;
  transition: 0.3s all ease-in-out;
  &:hover{
    background-color: #999 !important;
  }
  &.revealed{
    color: #FFF;
  }
  &.guessed{
    color: #6FACDE;
  }
  &.highlighted{
    background-color: #B9EDBC !important;
  }
}

#button-container{
  margin: 15px auto 0;
  width: 216px;
  button{
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #333;
    color: #FFF;
    border: none;
    font-size: 24px;
    font-family: "Muli", sans-serif;
    transition: 0.3s all ease-in-out;
    &.selected, &:focus{
      border: 1px solid #B9EDBC;
      outline: none;
    }
    &:hover{
      background-color: #666;
    }
    &:active{
      background-color: #666;
    }
  }

}